/* Указываем box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
	padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
	list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
	max-width: 100%;
	display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
	margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
	font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

body {
	font-family: 'Lora', serif;
	font-family: 'Nunito Sans', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
}


@media (max-width:767px) {
	html {
		max-width: none;

	}
}

.container {
	max-width: 1194px;
	margin: 0 auto;
}

@media (max-width:767px) {
	.container {
		max-width: 700px;
		margin: 0 auto;
		padding: 0 10px;
	}
}

.navigation {
	display: flex;
	justify-content: space-between;
	padding: 23.5px 0;
}

@media (max-width:767px) {
	.navigation {
		display: block;
	}
}

.navbar__logo {}

.nav__tools {
	display: flex;

}

@media (max-width:767px) {
	.nav__tools {
		display: block;
	}
}

.nav__tools a {
	font-size: 16px;
	font-weight: 600;
	color: #232730;
	padding: 9.5px 24px;
}

.nav__tools li:hover {
	color: #A55C30;
	transition: 0.2s;
}

.nav__tools a:last-child {
	padding-right: 0px;
}

a {
	text-decoration: none;
}

.header__body {
	padding: 113px 0;
	display: flex;
}

@media (max-width:767px) {
	.header__body {
		flex-wrap: wrap;
		align-content: flex-end;
	}
}

.header__h1 {
	font-size: 64px;
	font-weight: 700;
	line-height: 81.92px;
	width: 460px;
	padding-left: 40px;
	border-left: 9px solid #F8D7A4;
	height: 200px;
	z-index: 2;

}

.header__car {
	margin-left: 100px;
	right: 300px;
}

@media (max-width:767px) {
	.header__car {
		right: 0;
		margin-left: 0;
	}
}

.about__section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 130px;
}

@media (max-width:767px) {
	.about__section {
		flex-wrap: wrap;
		display: flex;
		justify-content: center;
		padding-bottom: 70px;
	}

	.about__section img {
		width: 100%;
		height: 100%;
		margin: auto;
		padding-bottom: 22px;
	}
}



.about__text-content {
	max-width: 481px;
	margin-left: 20px;
}


.about__text-content h2 {
	padding-bottom: 64px;
}

@media (max-width:767px) {
	.about__text-content h2 {
		padding-bottom: 16px;
		text-align: center;
	}
}

.h2-brown {
	color: #A55C30;
	font-size: 40px;
	font-weight: 700;
	line-height: 51.2px;
}

.h2-brown-center {
	text-align: center;
	padding-top: 107px;
}

.p__text {
	color: #232730;
	font-size: 16px;
	font-weight: 400;
	line-height: 23.2px;
	text-align: justify;
}

@media (max-width:767px) {
	.p-text {
		text-align: center;
	}
}

.services__section {
	background: url(../images/main/bg__car.png) no-repeat;
	background-position: center;
	background-color: #000000;
}

.services__body {
	max-width: 1194px;
	margin: auto;
}

@media (max-width:767px) {
	.services__body {
		padding-bottom: 30px;
	}

	.services__body h2 {
		padding-bottom: 48px;
	}
}

.services__contents {
	display: flex;
	justify-content: space-between;
}

@media (max-width:767px) {
	.services__contents {
		display: block;
		margin: 0 auto;

	}
}

.services__contents img:last-child {
	padding-bottom: 46px;
}

.services__content {
	max-width: 303px;
	padding: 70px 0 96px 0;
}

@media (max-width:767px) {
	.services__content {
		max-width: none;
		padding: 35px 30px;
	}
}

.services__img {
	margin: auto;
	padding-bottom: 56px;
}

.services__img-first {
	padding-bottom: 53px;
}

.services__img-last {
	padding-bottom: 42px;
}

.services__h3 {
	color: #FFFFFF;
	text-align: center;
	margin: auto;
	padding-bottom: 30px;
}


.p__text-white {
	color: #FFFFFF;
}

@media (max-width:767px) {
	.p__text-white {
		text-align: center;
	}
}

.carousel__section {
	padding-bottom: 150px;
}

@media (max-width:767px) {
	.carousel__section {
		display: none;
	}
}


.carousel__section h2 {
	padding: 59px 0 64px;
}

.carousel {
	position: relative;
	width: 1192px;
	height: 468px;
	padding: 0px 23px 184px;
	margin: auto;
}

.carousel img {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	padding-top: 61px;
}

.carousel .carousel__suv {
	padding-top: 41px;
}

.arrow {
	position: absolute;
	top: 220px;
	border: none;
	display: block;
	width: 20px;
	height: 20px;
	border-top: 3px solid #F8D7A4;
	border-right: 3px solid #F8D7A4;
	margin-right: 60px;
	background-color: rgba(0, 0, 0, 0);
}

.arrow:focus {
	outline: none;
}

.arrow:hover {
	opacity: .9;
	cursor: pointer;
}

.prev {
	left: -30px;
	transform: rotate(-135deg);
}

.next {
	right: -150px;
	transform: rotate(45deg);
}

.gallery {
	width: 1200px;
	height: 500px;
	overflow: hidden;
}

.gallery ul {
	height: 468px;
	width: 9999px;
	margin: 0;
	padding: 0;
	list-style: none;
	transition: margin-left 250ms;
	font-size: 0;
}

.gallery li {
	display: inline-block;
	background-color: #fff;
	height: 468px;
	width: 378px;
	margin: 0 10px;
	border: 1px solid #F8D7A4;
}

.gallery li:hover {
	cursor: pointer;
	box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, .2);
}

.gallery h3 {
	font-size: 24px;
	font-weight: 700;
	color: #A55C30;
	text-align: center;
	padding-top: 27px;
}

.card__marc {
	font-size: 12px;
	color: #232222;
	text-align: center;
	padding-bottom: 22px;
}

.card__text {
	font-size: 12px;
	max-width: 299px;
	margin: auto;
	color: #232222;
	text-align: justify;
	padding-bottom: 22px;
}

.footer__card {
	display: flex;
	justify-content: space-between;
	max-width: 299px;
	margin: auto;
}

.seats {
	background: url(../images/main/carousel-seats.svg) no-repeat;
	background-position: 0px 17px;
	font-size: 14px;
	font-weight: 400;
	color: #232222;
	padding: 20px 31px 25px 45px;
}

.laggage {
	font-size: 14px;
	font-weight: 400;
	color: #232222;
	padding: 20px 0px 25px 40px;
	background: url(../images/main/carousel-seats.svg) no-repeat;
	background-position: 0px 19px;
}

.stats__section {
	background-color: #232222;
}

.stats__body {
	max-width: 1194px;
	margin: auto;
	display: flex;
	justify-content: space-around;
	padding: 88px 0;
}

@media (max-width:767px) {
	.stats__body {
		display: block;
		padding: 61px 0;
	}
}

.stats__group {}

@media (max-width:767px) {
	.stats__group {
		padding: 36px 0;
	}
}

.stats__number {
	font-size: 72px;
	font-weight: 600;
	color: #FFFFFF;
	text-align: center;
}

.stats__text {
	text-align: center;
	font-size: 24px;
}

.testimonials__section {
	background-color: #F8D7A4;
	height: 720px;
	/* <!-- --> */
}

@media (max-width:767px) {
	.testimonials__section {
		height: 1000px;
	}
}

@media (max-width:621px) {
	.testimonials__section {
		height: 1020px;
	}
}

@media (max-width:518px) {
	.testimonials__section {
		height: 1055px;
	}
}

@media (max-width:467px) {
	.testimonials__section {
		height: 1090px;
	}
}

@media (max-width:448px) {
	.testimonials__section {
		height: 1140px;
	}
}

@media (max-width:395px) {
	.testimonials__section {
		height: 1190px;
	}
}

@media (max-width:384px) {
	.testimonials__section {
		height: 1270px;
	}
}

@media (max-width:333px) {
	.testimonials__section {
		height: 1350px;
	}
}

.testimonials__body {
	max-width: 1194px;
	margin: auto;
}

.review {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #FFFFFF;
	padding: 72px 0 87px;
	margin-top: 61px;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

@media (max-width:767px) {
	.review {
		display: grid;
		margin: 72px 13px 0px;
	}
}

.review__info {
	text-align: center;
}

@media (max-width:767px) {
	.review__info {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 3;
	}

	.review__info img {
		margin: auto;
		padding: 34px 0 10px;
	}
}

.info-name {
	padding-top: 33px;
	color: #272727;
	font-size: 32px;
	font-weight: 700;
}

@media (max-width:767px) {
	.info-name {
		padding-top: 0;
	}
}

.info-city {
	color: #979797;
	font-size: 24px;
	font-weight: 300;
	font-style: italic;
}

.review__text p {
	text-align: center;
	max-width: 601px;
	font-size: 24px;
	font-style: italic;
	font-weight: 400;
	color: #272727;
	padding-bottom: 64px;
}

@media (max-width:767px) {
	.review__text p {
		padding: 14px 40px;
	}
}

.review__grade {
	width: 225px;
	margin: 0 auto;
}

.review__grade span {
	margin: 0 3px;
}

.review__grade>span:before {
	content: url(../images/main/star.svg);
}



.booking__section {
	background: url(../images/main/bg__car.png) no-repeat;
	background-position: center;
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;

}

.booking__body {
	background: rgba(0, 0, 0, );
	padding: 81px 0 96px;
}

.booking__text {
	font-size: 32px;
}

@media (max-width:767px) {
	.booking__text {
		padding-bottom: 32px;
		font-size: 20px;
	}
}

.booking__phone {
	font-size: 56px;
	font-weight: 600;
}

@media (max-width:767px) {
	.booking__phone {
		font-size: 32px;
	}
}

.contact__section {
	padding-bottom: 97px;
}

.h2-contact {
	padding-bottom: 86px;
}



.contact__form {
	background-color: #E8EAEC;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 727px;
	margin: auto;
	padding: 116px 0 79px;
}

@media (max-width:767px) {
	.contact__form {
		padding: 32px 26px;
	}
}

.contact__input {
	width: 60%;
	height: 54px;
	padding-left: 37px;
	padding-right: 37px;
	color: #9F9F9F;
	font-size: 16px;
	border: 1px solid #D2D2D2;
	outline: none;
	box-sizing: border-box;
	margin: 11px 0;
}

@media (max-width:767px) {
	.contact__input {
		width: 80%;
	}
}

.contact__comment {
	min-height: 204px;
	padding-top: 30px;
	padding-bottom: 30px;
	max-width: 60%;
	min-width: 439px;
	max-height: 400px;
}

@media (max-width:767px) {
	.contact__comment {
		max-width: 80%;
		min-width: 80%;
	}
}

.contact__submit {
	width: 245px;
	height: 60px;
	background-color: #A55C30;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
	margin-top: 11px;
}

@media (max-width:767px) {
	.contact__submit {
		width: 40%;
	}
}

footer {
	background-color: #0C0C0C;
}

@media (max-width:767px) {
	footer {}
}

.footer__sections {
	max-width: 1194px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding-top: 72px;
}

@media (max-width:767px) {
	.footer__sections {
		display: block;
		margin-left: auto;
		margin-right: auto
	}
}

@media (max-width:767px) {
	.footer__section {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.footer__text img {
		margin: auto;
	}
}

.footer__border {
	max-width: 1100px;
	margin: 0 auto;
	text-align: center;
	color: #A55C30;
	border-bottom: 1px solid;
	border-color: rgba(229, 229, 229, .4);
	width: 100%;
}


.footer__section {
	padding-bottom: 18px;
}

.footer__text {
	max-width: 263px;
}


@media (max-width:767px) {
	.footer__section {
		padding-bottom: 60px;
	}
}

.footer__text img {
	padding-bottom: 32px;
}

@media (max-width:767px) {
	.footer__text img {
		padding-bottom: 10px;
	}
}

.p__text-center {
	text-align: center;
}



@media (max-width:767px) {
	.footer__letter {
		max-width: 428px;
	}
}

.footer__h3 {
	color: #A55C30;
	font-size: 24px;
	padding-bottom: 32px;
	text-align: center;
}

@media (max-width:767px) {
	.footer__h3 {
		padding-bottom: 10px;
	}
}

.subscribe__section {
	padding: 24px 0 62px 0;
	display: flex;
}

@media (max-width:767px) {
	.subscribe__section {
		padding: 24px 10px 24px;
	}

}

.footer__contact__input {
	padding: 0 23px;
}

.footer__contact__submit {
	max-height: 54px;
	margin-left: 16px;
}

.media__section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 159px;
	margin: auto;
}




.media__section img:hover {
	opacity: .5;
	cursor: pointer;
}

.footer__contact {
	max-width: 231px;
}

.contacts__section {
	color: #FAFAFA;
	font-size: 16px;
	padding-bottom: 16px;
}

@media (max-width:767px) {
	.contacts__section {
		text-align: start;
		margin-left: 40px;
	}
}

.address__section {
	background: url(../images/main/address.svg) no-repeat;
	background-position: 0px 15px;
	padding-left: 35px;
}

.number__section {
	background: url(../images/main/phone.svg) no-repeat;
	background-position: 0px 15px;
	padding-left: 35px;
}

.mail__section {
	background: url(../images/main/mail.svg) no-repeat;
	background-position: 0px 5px;
	padding-left: 35px;
}

.footer__corp {
	margin: auto;
}

.footer__corp p {
	color: #FAFAFA;
	text-align: center;
	padding: 24px 0 33px;
	font-size: 12px;
	font-weight: 300;
}
